#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.full-width-card {
  background-color:#2f2f2f;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  border-radius: 20px;
}

.horizontal-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-header{
  font-size: 14px;
}

.row-title{
  font-size: 10px;
}